.App {
  text-align: center;
  width: 100%;
}

.App .quote {
  background-color: white;
  width: 60%;
  height:40%;
  border: 1em;
  position: absolute;
  /* 50*(height/2)=50 -(40/2)=30 */
  top: 30%;
  /* 50*(width/2)=50 -(60/2)=30 */
  left: 20%;
  border-radius:  0.5rem;
  box-shadow: 5px black;
  margin: 2rem;
  box-shadow: 2px 2px 5px #000;

}

.quote>div{
  display:flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding:1rem;

}


.quote>button {
  border-radius: 10rem;
  margin: 1rem;
  height: 15%;
  width: 5%;
  position: relative;
  left:40%;
}

.quote h2{
  position: relative;
  left:20%;
}


